* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.h1 {
    flex: 1;
    background-color: rgb(127, 98, 155);
    color: rgb(246, 240, 240);
    font-size: 50px;
    width: 100%;
    text-align: center;
}

/* header {
    flex: 1;
    background-color: rgb(127, 98, 155);
    color: rgb(227, 219, 219);
    font-size: 100px;
    width: 100%;
    text-align: center;
  } */

  nav {
    /* flex: 2; */ 
    /*make this into a row */
    display: row;
    flex-direction: row;
    list-style-type:inherit;
    background-color: rgb(127, 98, 155);
    color:rgb(227, 219, 219);
    text-align: right;
    width: 100%;
  }
  

  .heads {
    flex: 1;
    margin-top: 60px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia;

  }

li {
    flex: 1;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

