head {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-family: Arial;
    background-color: rgb(127, 98, 155);
    color: whitesmoke;
 
}

nav ul li {
    display: table-row-group;
    background-color: rgb(127, 98, 155);
    color: whitesmoke;

}

body {
    display: flow-root;
    background-position: 20px;
    
    
}head h1 {
    display: inline-block;
    justify-content: center;
    background-color:  rgb(127, 98, 155);
    color: whitesmoke;
     font-size: 8px;
     font-family: 'Times New Roman'
  
 }
 
 nav ul li {
     display: inline-block;
     flex-grow: auto;
     width: 100%;
     background-color: rgb(127, 98, 155);
     color: whitesmoke;
     
 
 }
 
 .float {
    flex-wrap: wrap;
    float: left;
    
 }
 
 .list {
     display: list-item;
    justify-content: center;
 }
 
 